body {
    background-image: url("../images/grandcanyon_background.png");
}

#bodyDiv {
    background-color: black;
    color: white;
    padding: 30px;
}

.crystalDiv {
    float: left;
    cursor: pointer;
}

.crystalImage {
    height: 150px;
    width: 200px;
    margin: 10px;
}

#totalSumDiv {
    clear: both;
}